Facades/

Dataset/Contemporary/test
Dataset/Contemporary/train

Dataset/Edwardian/test
Dataset/Edwardian/train

Dataset/Georgian/test
Dataset/Georgian/train

Dataset/Contemporary/train_copy
Dataset/Contemporary/train_aug

Dataset/Edwardian/train_aug
Dataset/Edwardian/train_copy

Dataset/Georgian/train_aug
Dataset/Georgian/train_copy

Dataset/Contemporary/A/train_aug
Dataset/Contemporary/A/train_copy

Dataset/Edwardian/A/train_aug
Dataset/Edwardian/A/train_copy

Dataset/Georgian/A/train_aug
Dataset/Georgian/A/train_copy

Dataset/Contemporary/A/train/0*.jpg
Dataset/Edwardian/A/train/0*.jpg
Dataset/Georgian/A/train/0*.jpg

Dataset/Contemporary/B/train/0*.jpg
Dataset/Edwardian/B/train/0*.jpg
Dataset/Georgian/B/train/0*.jpg

checkpoints/