Facades/
Dataset/Contemporary/Test
Dataset/Contemporary/Train
Dataset/Edwardian/Test
Dataset/Edwardian/Train
Dataset/Georgian/Test
Dataset/Georgian/Train
Dataset/Contemporary/Train_Copy
Dataset/Contemporary/Train_Aug
Dataset/Edwardian/Train_Aug
Dataset/Edwardian/Train_Copy
Dataset/Georgian/Train_Aug
Dataset/Georgian/Train_Copy
Dataset/Contemporary/A/Train_Aug
Dataset/Contemporary/A/Train_Copy
Dataset/Edwardian/A/Train_Aug
Dataset/Edwardian/A/Train_Copy
Dataset/Georgian/A/Train_Aug
Dataset/Georgian/A/Train_Copy
Dataset/Contemporary/A/Train/0*.jpg
Dataset/Edwardian/A/Train/0*.jpg
Dataset/Georgian/A/Train/0*.jpg
Dataset/Contemporary/B/Train/0*.jpg
Dataset/Edwardian/B/Train/0*.jpg
Dataset/Georgian/B/Train/0*.jpg